[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
[push]
	default = simple
[alias]
	unstage = reset HEAD --
	uncommit = reset --soft HEAD~
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Kaspar Manz
	email = kaspar@xeophin.net